.vs/
/src/Recomecar/AcessWebApi/obj
/src/Recomecar/AcessWebApi/bin
/src/Recomecar/WebApiDB/obj
/src/Recomecar/WebApiDB/bin
/src/Recomecar/WebApiDB/Controllers
/src/Recomecar/WebApiDB/bin/Debug/net8.0/WebApiDB.dll
/src/Recomecar/WebApiDB/obj/Debug/net8.0/ref/WebApiDB.dll
/src/Recomecar/WebApiDB/obj/Debug/net8.0/refint/WebApiDB.dll
/src/Recomecar/WebApiDB/obj/Debug/net8.0/scopedcss/bundle/WebApiDB.styles.css
/src/Recomecar/WebApiDB/obj/Debug/net8.0/scopedcss/projectbundle/WebApiDB.bundle.scp.css
/src/Recomecar/WebApiDB/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/src/Recomecar/WebApiDB/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.WebApiDB.props
/src/Recomecar/WebApiExternalAccess/bin/Debug/net8.0
/src/Recomecar/WebApiExternalAccess/obj/Debug/net8.0
/src/Recomecar/WebApiExternalAccess/obj
/docs/02-Especificação do Projeto.md
/docs/05-Arquitetura da Solução.md
/src/Recomecar/AcessWebApi/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Recomecar/AcessWebApi/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Recomecar/AcessWebApi/de/Microsoft.CodeAnalysis.resources.dll
/src/Recomecar/AcessWebApi/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Recomecar/AcessWebApi/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Recomecar/AcessWebApi/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Recomecar/AcessWebApi/es/Microsoft.CodeAnalysis.resources.dll
/src/Recomecar/AcessWebApi/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Recomecar/AcessWebApi/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Recomecar/AcessWebApi/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Recomecar/AcessWebApi/fr/Microsoft.CodeAnalysis.resources.dll
/src/Recomecar/AcessWebApi/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Recomecar/AcessWebApi/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Recomecar/AcessWebApi/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Recomecar/AcessWebApi/it/Microsoft.CodeAnalysis.resources.dll
/src/Recomecar/AcessWebApi/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Recomecar/AcessWebApi/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Recomecar/AcessWebApi/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Recomecar/AcessWebApi/ja/Microsoft.CodeAnalysis.resources.dll
/src/Recomecar/AcessWebApi/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Recomecar/AcessWebApi/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Recomecar/AcessWebApi/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Recomecar/AcessWebApi/ko/Microsoft.CodeAnalysis.resources.dll
/src/Recomecar/AcessWebApi/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Recomecar/AcessWebApi/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Recomecar/AcessWebApi/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Recomecar/AcessWebApi/cs/Microsoft.CodeAnalysis.resources.dll
/src/Recomecar/AcessWebApi/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
