body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: white;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    background-color: #DCB5F6;
    color: #DCB5F6;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #ce91f7;
  }
  
  main {
    padding: 20px;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }

  header img {
    width: 500px;
    height: auto;
  }
  
  .product {
    background-color:#DCB5F6;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    align-items: center;
  }
  
  .product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .product h2 {
    color: #333;
    margin: 0 0 10px;
  }
  
  .product p {
    color: #666;
    margin: 0;
  }
  
  footer {
    background-color: #DCB5F6;
    color: #DCB5F6;
    padding: 10px;
    text-align: center;
  }