body {
    background-color: white;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #DCB5F6;
    padding: 2px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
    margin: 0;
    width: 250px;
    margin-bottom: -27px;
}

nav {
    background-color: #DCB5F6;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    margin-right: 205px;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 17px;
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #ce91f7;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-right .button {
    color: black;
    background-color: white;
    padding: 5px 10px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #333;
    transition: background-color 0.3s ease;
}

.top-right .button:hover {
    background-color: #f0f0f0;
}

main {
    padding: 20px;
}

h2 {
    color: blue;
    text-align: center;
}

.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    background-color: #DCB5F6;
    height: 300px;
}

.carousel-inner {
    display: flex;
    height: 100%;
    width: 100%
}

.slide {
    display: none;
    flex: 0 0 auto;
}

.slide img {
    width: auto;
    height: 100%;
    width: 100%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.row-container::after {
    content: "";
    display: table;
    clear: both;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: calc(25% - 20px); /* Define a largura para 4 cards por linha */
    box-sizing: border-box;
    float: left;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card-body {
    height: calc(100% - 100px); /* Ajusta a altura do corpo do card */
    overflow: hidden; /* Adiciona scroll se o conteúdo for maior que a altura definida */
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


.card-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.card-text {
    color: #666;
    font-size: 14px;
    margin-bottom: 8px;
}

.service-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.service {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.service-content {
    flex: 1;
    padding-right: 20px;
}

.ilustration {
    max-width: 100%;
    border-radius: 5px;
}

.service.reverse {
    flex-direction: row-reverse;
}

.service.reverse .service-content {
    padding-left: 20px;
}

.buy-button {
    color: black;
    background-color: white;
    width: 100%;
    height: 25px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    text-align: center;
    line-height: 25px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #f0f0f0;
}

.buy-button:active {
    background-color: #e0e0e0;
}


.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
    
.service {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .service.reverse {
        flex-direction: row-reverse;
    }

    .service:hover {
        transform: translateY(-5px);
    }

    .service img {
        max-width: 40%;
        height: auto;
        border-radius: 5px;
        margin: 0 20px;
    }

.service-content {
    flex: 1;
}

.service h2 {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
    color: blue;
}

.service p {
    color: #666;
    font-size: 14px;
    margin-bottom: 8px;
    text-align: justify;
    word-spacing: -1px;
}

.ilustration {
    width: 350px;
}

.row-container {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    flex: 1;
    max-width: 45%;
    margin-bottom: 20px;
}

.column img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-container {
    background-color: #DCB5F6;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.footer-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-column {
    display: flex;
    justify-content: space-between;
    align-items: center;  /* Ensures vertical alignment */
    width: 80%;
    max-width: 800px;
    margin-bottom: 20px;
}

.footer-info {
    flex: 1;
    text-align: left;
}

.footer-links {
    flex: 1;
    text-align: right;
}

.footer-links p {
    margin: 5px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-info h4 {
    margin: 0;
    font-size: 16px;
}

.footer-info p {
    margin: 5px 0;
}

.footer-bottom {
    margin-top: 0px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}

/* Adicione esta regra para garantir que haja 4 cards em cada linha */
.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Adicione esta regra para garantir que os cards tenham o mesmo tamanho */
.card {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    flex: 1;
    margin: 30px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h5 {
    margin-top: 0;
    color: #333;
}

.card p {
    color: #666;
}

.buy-button {
    background-color: #f9f9f9;
    color: #f9f9f9;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

