
body {
    background-color: white;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.logo {
    display: block;
    margin: 30px auto 0;
    width: 300px;
}

header {
    padding: 20px;
    text-align: center;
}

    header h1 {
        margin: 0;
        color: #ffffff;
    }

main {
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgb(255, 223, 251);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-text {
    text-align: center;
    color: #333333;
}

.login-box {
    display: flex;
    flex-direction: column;
}

    .login-box input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

.senha {
    display: flex;
    width: 500px;
}

#olhoSenha {
    border: 0;
    border-radius: 0px 5px 5px 0px;
    background-color: blue;
    color: white;
    height: 35px;
    width: 40px;
    cursor: pointer;
}

    #olhoSenha:active {
        background-color: rgb(0, 0, 42);
    }

#submit {
    color: white;
    background-color: blue;
    width: 30%;
    height: 30px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}

    #submit:active {
        background-color: rgb(0, 0, 42);
    }

.options {
    margin-top: 20px;
    text-align: center;
}

    .options a {
        display: block;
        margin-bottom: 10px;
        color: #007bff;
        text-decoration: none;
    }

        .options a:hover {
            text-decoration: underline;
        }


footer {
    background-color: #DCB5F6;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

    footer p {
        margin: 0;
        color: #ffffff;
    }

/* Responsividade */
@media only screen and (max-width: 600px) {
    main {
        padding: 10px;
    }

    .container {
        max-width: 100%;
        padding: 10px;
    }

    .login-box input[type="submit"] {
        width: 100%;
    }
}
