body {
    background-color: white;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #DCB5F6;
    padding: 2px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
    margin: 0;
    width: 250px;
    margin-bottom: -27px;
}

nav {
    background-color: #DCB5F6;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    margin-right: 205px;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 17px;
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #ce91f7;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-right .button {
    color: black;
    background-color: white;
    padding: 5px 10px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #333;
    transition: background-color 0.3s ease;
}

.top-right .button:hover {
    background-color: #f0f0f0;
}
/* Estilos do conteúdo principal */
main {
    padding: 20px;
}

.product-container {
    background-color: #DCB5F6;
    border: 1px solid #ccc;
    padding: 20px; /* Espaçamento interno dos cards */
    margin: 60px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    width: calc(50%); /* Largura dos cards com margens laterais */
    margin-bottom: 20px; /* Espaçamento entre os cards */
    padding: 15px; /* Espaçamento interno dos cards */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.product-container h2 {
    color: #333;
    margin-bottom: 10px;
}

.product-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.product-container input,
.product-container select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-container button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.product-container button:hover {
    background-color: #03a05c;
}

/* Estilos do rodapé */
.footer-container {
    background-color: #DCB5F6;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin-bottom: 20px;
}

.footer-info,
.footer-links {
    flex: 1;
    text-align: left;
}

.footer-links {
    text-align: right;
}

.footer-links p {
    margin: 5px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-info h4 {
    margin: 0;
    font-size: 16px;
}

.footer-info p {
    margin: 5px 0;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

.cart-container {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.cart-icon {
    font-size: 24px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 12px;
}

/* Estilos específicos de pedidos */
.container {
    display: flex;
    justify-content: space-between;
}

.shipping-address,
.order-summary {
    width: 48%;
}

h2 {
    font-size: 1.5em;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type=text],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
}

.order-summary ul {
    list-style-type: none;
    padding-left: 0;
}

.order-summary li {
    margin-bottom: 10px;
}

.button {
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #039e5a;
}
