body {
    background-color: white;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.logo {
    display: block;
    margin: 30px auto;
    width: 300px;
}

.container {
    margin: -37px;
    padding: 40px;
    background-color: rgb(255, 223, 251);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 85px;
    width: 35%;
    height: 49%;
    justify-content: center;
    align-items: center;
}

.registre-text {
    text-align: center;
    color: #333333;
}

.registre-box {
    display: flex;
    flex-direction: column;
}

    .registre-box input {
        display: block; 
        width: 450px; 
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

.senha {
    display: flex;
    width: 450px;
}

#olhoSenha, #olhoSenhaConfirmar {
    border: 0;
    border-radius: 0px 5px 5px 0px;
    background-color: blue;
    color: white;
    height: 35px;
    width: 40px;
    cursor: pointer;
}

button[type="submit"], #submit {
    color: white;
    background-color: blue;
    width: 30%;
    height: 30px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}

    button[type="submit"]:active, #submit:active {
        background-color: rgb(0, 0, 42);
    }

.options {
    margin-top: 20px;
    text-align: center;
}

footer {
    background-color: #DCB5F6;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

    footer p {
        margin: 0;
        color: #ffffff;
    }

/* Responsividade */
@media only screen and (max-width: 600px) {
    main {
        padding: 10px;
    }

    .container {
        max-width: 100%;
        padding: 10px;
    }

    .registre-box button[type="submit"] {
        width: 100%;
    }
}
