body {
    background-color: white;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 40px;
    background-color: rgb(255, 223, 251);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.registre-box form input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.options {
    margin-top: 50px;
    text-align: center;
}

.options a {
    display: block;
    margin-bottom: 80px;
    color: #007bff;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

button[type="submit"] {
    color: white;
    background-color: blue;
    width: 400px;
}


@media only screen and (max-width: 600px) {
    .container {
        max-width: 90%;
        padding: 20px;
    }

    button[type="submit"] {
        width: 100%;
    }
}
