body {
    background-color: white;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #DCB5F6;
    padding: 2px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
    margin: 0;
    width: 250px;
    margin-bottom: -27px;
}

nav {
    background-color: #DCB5F6;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    margin-right: 205px;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 17px;
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #ce91f7;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-right .button {
    color: black;
    background-color: white;
    padding: 5px 10px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #333;
    transition: background-color 0.3s ease;
}

.top-right .button:hover {
    background-color: #f0f0f0;
}

main {
    padding: 20px;
    width: 80%;
    margin: auto;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.service {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.service.reverse {
    flex-direction: row-reverse;
}

.service:hover {
    transform: translateY(-5px);
}

.service img {
    max-width: 40%;
    height: auto;
    border-radius: 5px;
    margin: 0 20px;
}

.service-content {
    flex: 1;
}

.service h2 {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
    color: blue;
}

.service p {
    color: #666;
    font-size: 14px;
    margin-bottom: 8px;
    text-align: justify;
    word-spacing: -1px;
}

.ilustration {
    width: 350px;
}

.footer-container {
    background-color: #DCB5F6;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.footer-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin-bottom: 20px;
}

.footer-info {
    flex: 1;
    text-align: left;
}

.footer-links {
    flex: 1;
    text-align: right;
}

.footer-links p {
    margin: 5px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-info h4 {
    margin: 0;
    font-size: 16px;
}

.footer-info p {
    margin: 5px 0;
}

.footer-bottom {
    margin-top: 0px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    main {
        padding: 10px;
    }

    .service {
        flex-direction: column;
    }

    .service.reverse {
        flex-direction: column;
    }

    .service img {
        max-width: 100%;
        margin: 10px 0;
    }
}

.row-container {
    display: block;
    width: 100%;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card img {
    max-width: 30%;
    height: auto;
    border-radius: 8px;
}

.card-body {
    flex: 1;
    margin-right: 20px;
}

.card h5 {
    margin-top: 0;
    color: #333;
}

.card p {
    color: #666;
}

.buy-button {
    background-color: #DCB5F6;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #ce91f7;
}